<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex" />
    <title>Błąd</title>

</head>
<body>

    <hgroup>
        <h1 style="color: red;">Błąd!</h1>
        <h2>Wystąpił błąd podczas przetwarzania żądania.</h2>
        <h3>Spróbuj ponownie później oraz sprawdź czy podane przez Ciebie dane są prawidłowe.</h3>
        <h4>Jeżeli problem nie ustąpi po czasie lub będzie się powtarzał, skontaktuj się z właścicielem aplikacji.</h4>
    </hgroup>

</body>
</html>
