@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron" style="margin-top: 70px;">
    <h2>Witaj w CBiGD!</h2>

    <p>Aplikacja umożliwia przechowywanie łatwe generowanie, przechowywanie oraz eksportowanie dokumentów do plików PDF.</p>

    <br />
    <h3>Aby rozpocząć pracę, wybierz odpowiednią pozycję z menu na górze strony.</h3>

    <div style="text-align: right; font-size: 12px;">
        <br />
        <p>Życzymy przyjemnej pracy z aplikacją,<br />Zespół CBiGD</p>
    </div>

</div>
